form{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 30px auto;
}

form input{
    margin: 10px 0;
    padding: 5px 10px;
}

form button{
    width: fit-content;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    margin: 0 auto;
}

form p{
    text-align: center;
}

.errors{
    color: red;
	width: fit-content;
	margin: 15px auto;
	padding: 10px;
	border-radius: 15px;
	border: 2px solid red;
	background-color: #FFCCCC;
	text-align: center;
}