@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

main{
    width: 100vw;
    height: 100vh;
}


#main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#term{
    height: 25px;
    width: 960px;
    color: rgb(0, 255, 0);
    border: none;
    background-color: black;
    outline: none;
    font-family: 'VT323', monospace;
    font-size: 20px;
    letter-spacing: 0.5px;
    cursor: default;
    margin-top: 9px;
    text-transform: uppercase;
    text-indent: 2px;
    word-spacing: -4px;
}

#term-container{
    width: 1100px;
    height: 450px;
    background-color: black;
}

#term_text{
    height: 25px;
    width: fit-content;
    color: rgb(0, 255, 0);
    border: none;
    background-color: black;
    outline: none;
    font-family: 'VT323', monospace;
    font-size: 20px;
    letter-spacing: 0.5px;
    margin-top: 10px;

}

#ligne{
    display: flex;
    width: 98%;
    height: 15px;
    margin: auto;

}