@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

main{
    width: 100vw;
    height: 100vh;
}

#main-container{
    width: 100%;
    max-width: 100vw;
    max-height: 95vh;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(79, 95, 126); */
    padding-left: 70px;
    background: linear-gradient(270deg, #03045e,#023e8a, #0077b6, #33415c, #4d194d);
    background-size: 400% 400%;
    -webkit-animation: gradiant 16s ease infinite;
    -moz-animation: gradiant 16s ease infinite;
    animation: gradiant 16s ease infinite;

}


@-webkit-keyframes gradiant {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes gradiant {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes gradiant {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

#term-container{
    width: 1140px;
    height: 490px;
    background-color: black;
    box-shadow: 1px 5px 10px black;
    border: solid 20px #4E5057;
    transition: 0.7s;
    overflow: auto;
    padding: 10px;
   

}
      

  

.term{
    height: 1.2rem;
    flex: 1 0 0;
    color: rgb(0, 255, 0);
    border: none;
    background-color: black;
    outline: none;
    font-family: 'VT323', monospace;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    cursor: default;
    /* text-transform: uppercase; */
    text-indent: 2px;
    word-spacing: -4px;
    word-break: break-all;

}

.term_text{
    align-self: center;
    height: auto;
    color: rgb(0, 255, 0);
    border: none;
    background-color: black;
    outline: none;
    font-family: 'VT323', monospace;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    text-transform: lowercase;
    

}

.line{
    display: flex;
}
a.underline .term_text{
  text-decoration: underline rgb(0,255,0);

}
a.underline .term_text:hover{
  color:#fff !important;
  text-decoration: underline #fff;
}

/* TODO Ajouter de la logique pour intéragir avec le contenu entré dans le terminal */