#term-container{
    width: 1140px;
    height: 490px;
    background-color: $black;
    box-shadow: 1px 5px 10px $black;
    border: solid 20px $abbeyColor ;
    overflow: auto;
    padding: 10px;

    .line{
        display: flex;

        .term{
            height: 1.2rem;
            flex: 1 0 0;
            color: $solidGreen;
            border: none;
            background-color: $black;
            outline: none;
            font-family: 'VT323', monospace;
            font-size: 1.2rem;
            letter-spacing: 0.5px;
            cursor: default;
            /* text-transform: uppercase; */
            text-indent: 2px;
            word-spacing: -4px;
            word-break: break-all;
        
        }
    
        .term_text{
            align-self: center;
            height: auto;
            color: $solidGreen;
            border: none;
            background-color: $black;
            outline: none;
            font-family: 'VT323', monospace;
            font-size: 1.2rem;
            letter-spacing: 0.5px;
        
        }

        a.underline .term_text{
            text-decoration: underline $solidGreen;
        }

        a.underline .term_text:hover{
            color:$white !important;
            text-decoration: underline $white;
;
        }
    }

}
