header {
    min-height: 5vh;
    width: 100%;
    background-color: $sharkColor;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $clearColor;
    position: relative;
    top: 0%;
    z-index: 10;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;

        .logo,
        ul {
            align-items: center;
            display: flex;
        }

        a {
            color: $clearColor;
        }

        ul {
            display: flex;
            align-content: center;

            li {
                margin: auto 3rem;
            }
        }

        div {
            display: flex;
        }

        input[type=checkbox] {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            outline: none;

            border-radius: 30px;
            height: 30px;
            width: 70px;
            background: green;

            &:hover{
                cursor: pointer;
            }

            &:checked{
                background: red;
            }
        }


    }

}