.levelDescription{
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 10px 10px;
    width: 900px;
    border: 4px solid $abbeyColor ;
    height: auto;
    background-color: $doveGrey;
    box-shadow: 1px 5px 10px black;
    font-family: 'VT323', monospace;
    font-size: 23px;
}