@import "../helpers/variables.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    min-height: 800px;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}