* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  min-height: 800px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  min-height: 5vh;
  width: 100%;
  background-color: #2c2e33;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ADB9D2;
  position: relative;
  top: 0%;
  z-index: 10;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
header nav .logo,
header nav ul {
  align-items: center;
  display: flex;
}
header nav a {
  color: #ADB9D2;
}
header nav ul {
  display: flex;
  align-content: center;
}
header nav ul li {
  margin: auto 3rem;
}
header nav div {
  display: flex;
}
header nav input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: none;
  border-radius: 30px;
  height: 30px;
  width: 70px;
  background: green;
}
header nav input[type=checkbox]:hover {
  cursor: pointer;
}
header nav input[type=checkbox]:checked {
  background: red;
}

main {
  width: 100vw;
  height: 95vh;
}
main .main-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #51607F;
  right: 0;
}
main .main-container h1 {
  height: 35px;
  width: 100%;
  margin: 50px 120px;
  color: #eeeeee;
}
main .main-container .title-container {
  width: 80%;
  height: 60px;
  margin: 0 auto;
  background-color: #232427;
  color: #ADB9D2;
  font-size: 30px;
  padding: 10px 10px;
}
main .main-container .sections-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 200px;
  margin: 0 auto;
  background-color: #2c2e33;
}
main .main-container .sections-container section {
  width: 25%;
  height: 180px;
  display: flex;
  justify-content: center;
  color: #ADB9D2;
  padding: 15px;
}
main .main-container .sections-container section .titre-accueil {
  padding: 5px 20px;
  background-color: #2c2e33;
  border: solid 3px #181818;
  width: 270px;
}
main .main-container .sections-container section .titre-accueil .accueil {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 0 !important;
}
main .main-container .sections-container section .titre-accueil .accueil a {
  font-size: 26px;
  color: #ADB9D2;
}

.chapter-menu {
  min-height: 95vh;
  max-height: 95vh;
  position: absolute;
  display: flex;
  color: #ADB9D2;
  width: fit-content;
  transform: translate(-470px, 0);
  /*-470px*/
  transition: 1s;
  z-index: 1;
}
.chapter-menu h2 {
  font-size: 40px;
  margin-bottom: 100px;
  margin-left: 60px;
}
.chapter-menu .left-menu {
  padding-top: 50px;
  background-color: #51607F;
  width: 470px;
  height: 95vh;
  overflow: auto;
}
.chapter-menu .chapter {
  padding: 0 60px;
  font-size: 30px;
}
.chapter-menu .chapter hr {
  margin: 20px 0;
  border: none;
  height: 2px;
  background-color: #ADB9D2;
}
.chapter-menu .chapter .chapter-content {
  display: flex;
  flex-direction: column;
  margin-left: 24%;
}
.chapter-menu .chapter .chapter-content .levels {
  margin-top: 5px;
  width: fit-content;
  color: #ADB9D2;
}
.chapter-menu .chapter .chapter-name:hover {
  cursor: pointer;
}
.chapter-menu .right-menu {
  display: flex;
  flex-direction: column;
  background-color: #4E5057;
  width: 70px;
  justify-content: center;
  align-items: center;
  max-height: 95vh;
}
.chapter-menu .right-menu .circle {
  margin: 15px 0px;
  width: 50px;
  height: 50px;
  background-color: #707070;
  border-radius: 50%;
}
.chapter-menu .right-menu:hover {
  cursor: pointer;
}

.chapter-menu:hover {
  transform: translate(0, 0);
  transition: 0.5s;
}

.chapter-name {
  font-size: 30px;
}
.chapter-name i {
  margin-right: 20px;
  font-size: 30px;
  transition: 0.2s;
}

.levelDescription {
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 10px 10px;
  width: 900px;
  border: 4px solid #4E5057;
  height: auto;
  background-color: #707070;
  box-shadow: 1px 5px 10px black;
  font-family: "VT323", monospace;
  font-size: 23px;
}

#term-container {
  width: 1140px;
  height: 490px;
  background-color: #000000;
  box-shadow: 1px 5px 10px #000000;
  border: solid 20px #4E5057;
  overflow: auto;
  padding: 10px;
}
#term-container .line {
  display: flex;
}
#term-container .line .term {
  height: 1.2rem;
  flex: 1 0 0;
  color: #00FF00;
  border: none;
  background-color: #000000;
  outline: none;
  font-family: "VT323", monospace;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  cursor: default;
  /* text-transform: uppercase; */
  text-indent: 2px;
  word-spacing: -4px;
  word-break: break-all;
}
#term-container .line .term_text {
  align-self: center;
  height: auto;
  color: #00FF00;
  border: none;
  background-color: #000000;
  outline: none;
  font-family: "VT323", monospace;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}
#term-container .line a.underline .term_text {
  text-decoration: underline #00FF00;
}
#term-container .line a.underline .term_text:hover {
  color: #FFFFFF !important;
  text-decoration: underline #FFFFFF;
}

.notepad {
  font-weight: 500;
  font-size: 25px;
  font-family: "VT323", monospace;
  padding: 10px;
  line-height: 27px;
  height: 490px;
  border-radius: 5px;
  border: solid 10px #4E5057;
  box-shadow: 1px 5px 10px #000000;
  outline: none;
  resize: none;
}
.notepad-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #2c2e33;
  position: absolute;
  right: 405px;
  bottom: 0px;
  cursor: pointer;
}
.notepad-btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}
.notepad-btn span i {
  height: 39px;
}

.dragNote {
  position: absolute;
  left: 10%;
  top: calc(50% - 260px);
  padding: 10px;
}

#toDoList {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 50px;
  width: 400px;
  transition: 1s;
  overflow: hidden;
}
#toDoList #upperTDL {
  width: 100%;
  height: 50px;
  background-color: #2c2e33;
  color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
#toDoList #lowerTDL {
  width: 100%;
  padding-top: 15px;
  height: 420px;
  background-color: #4E5057;
}
#toDoList #lowerTDL li {
  list-style: none;
}
#toDoList #lowerTDL li hr {
  margin: 0px 20px;
  border: none;
  height: 2px;
  background-color: #BABABA;
}
#toDoList #lowerTDL li h4 {
  font-size: 22px;
  color: #eeeeee;
  padding: 10px 20px;
}
#toDoList #lowerTDL li pre {
  height: 130px;
  margin: 0px 20px;
  background-color: #BABABA;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  white-space: pre-wrap;
  overflow: auto;
  border-radius: 3px;
}
#toDoList #lowerTDL li pre code {
  padding: 10px 10px;
}
#toDoList #lowerTDL li pre code::before {
  content: "> ";
}
#toDoList #upperTDL:hover {
  cursor: pointer;
}

#main-container {
  width: 100%;
  max-width: 100vw;
  max-height: 95vh;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(79, 95, 126); */
  padding-left: 70px;
  background: linear-gradient(270deg, #03045e, #023e8a, #0077b6, #33415c, #4d194d);
  background-size: 400% 400%;
  -webkit-animation: gradiant 16s ease infinite;
  -moz-animation: gradiant 16s ease infinite;
  animation: gradiant 16s ease infinite;
}

@-webkit-keyframes gradiant {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradiant {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradiant {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.no-bcg {
  background: #fefefe !important;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #232427;
  color: whitesmoke;
}

.profil-info {
  width: fit-content;
  margin: 10px auto;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 30px auto;
}
form input {
  margin: 10px 0;
  padding: 5px 10px;
}
form button {
  width: fit-content;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  margin: 0 auto;
}
form p {
  text-align: center;
}

.errors {
  color: #FF0000;
  width: fit-content;
  margin: 15px auto;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid #FF0000;
  background-color: #FFCCCC;
  text-align: center;
}

/*# sourceMappingURL=import.css.map */
